<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/home.css">
        <script src="js/nav.js" defer></script>
        <title>{{title}}</title>
    </head>
    <body>
       {{{body}}} 
    </body>
</html>