body {
    background-color: rgb(46, 42, 42);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    color: whitesmoke
}

header {
    display: flex;
    background-color: hsl(0, 68%, 50%);
    padding: 0.5em;
    font-size: 20px;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(0, 128, 0, 0.95);
    height: 97.5vh;
    width: 25vw;
    padding: 0.5em;
    position: absolute;
    right: -30vw;
    top: 0.8vh;
    transition-duration: 0.35s;
}

nav:hover {
    background-color: green;
}

#hamburger_out {
    width: 60px;
    margin-right: 30px;
}

#hamburger_in, .links {
    position: relative;
    top: 15px;
    left: 15px;
}

.hamburger {
    width: 60px
}

#online-txt {
    margin-left: 20px;
}

nav > * {
    margin-bottom: 50px;
}

.links {
    display: flex;
    flex-direction: column;
}

.links * {
    background-color: rgb(23, 175, 36);
    padding: 10px;
    text-decoration: none;
    color: rgb(44, 104, 189);
    font-size: 20px;
    margin-bottom: 10px;
}