<h2> Execute some of these sweet commands 🍦 </h2>

<iframe style="display: none;" name="dummyframe" id="dummyframe"></iframe>

<a href="/"><img class="home" src="img/home.png" alt="HOME"></a>
<form action="/executeCommand" method="post" target="dummyframe">
<label for="selfID">Insert your Discord-ID here please: </label>
<input type="text" name="selfID">
<select name="channelid">
    {{#each channels}}
        <option value="{{this.id}}">{{this.name}}</option>
    {{/each}}
</select>
<input type="text" name="text" placeholder="MESSAGE TEXT">
<select name="command">
{{#each commands as |value key|}}
    <option value="{{key}}">💻{{key}}</option>
{{/each}}
</select>
<input type="submit" value="Execute">
</form>