<header>
    <p id="online-txt">Rick Astley is now on-line!</p>
    <img class="hamburger" id="hamburger_out" src="img/hamburger_nav.png" alt="hamburger" onclick="openNav()">
</header>
<nav id="nav">
    <img class="hamburger" id="hamburger_in" src="img/hamburger_nav.png" alt="hamburger" onclick="closeNav()">
    <div class="links">
        <a href="/dashboard"> Dashboard </a>
        <a href="/commands.hbs"> Commands </a>
    </div>
</nav>

<iframe style="display: none;" name="dummyframe" id="dummyframe"></iframe>

<form action="/sendMessage" method="post" target="dummyframe">
    <input type="hidden" name="token" value="{{token}}">
    <select name="channelid">
        {{#each channels}}
            <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>
    <input type="text" name="text" placeholder="MESSAGE TEXT">
    <input type="submit" value="SEND">
</form>
