<h3> Just press "Send" if you are not an admin! </h3>

<form action="/" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="LOGIN">
</form>